.fwork-confign-notification {

  color: #172b4d;
  .ant-drawer-body {
    padding: 0;
  }

  .fwork-confign-notification-body {
    padding: 0 32px;
  }

  .fwork-config-notifi-checkbox {
    display: flex;
    flex-direction: column;
    .ant-checkbox-wrapper {
      margin: 0;
    }
  }

  table {

    thead {
      th {
        font-size: 16px;
      }
    }
    width: 100%;
    tr {
      height: 80px;
      th {
        font-size: 14px;
        font-weight: 600;
        padding-top: 0;
        vertical-align: top;
      }
      td {
        vertical-align: top;
        ul {
          padding: 0;
          margin: 0;
          li {
            list-style: none;
          }
        }
         
        font-size: 14px;
        &:nth-child(2){
          width: 30%;
          // background-color: black ;
        }
  
        &:last-child{
          width: 20%;
          .ant-checkbox + span {
            font-size: 14px;
            color: #172b4d;
          }
        }
      }
    }
  }

  
 
}