.fwork-detail-resource {
  font-family: sans-serif;
  color: #172b4d;
  .fwork-detail-resource-body {
    padding: 24px 32px;
    table {
      width: 100%;
      th,td { 
        padding: 12px 0;
      }
      th {
        width: 40%;
      }
    }

    .fwork-btn-content-resource {
      padding: 0;
      font-family: sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      height: 18px;
    }
    
  }

  .ant-drawer-body {
    padding: 0;
  }
}