.fwork-detail-resource {
  font-family: sans-serif;
  color: #172b4d;
  .fwork-detail-resource-body {
    padding: 24px 32px;
    table {
      width: 100%;
      th,td { 
        padding: 12px 0;
      }
      th {
        width: 40%;
      }

      .fwork-list-service-tag {
        display: flex;
        flex-wrap: wrap;
        .fwork-tag {
          font-size: 14px;
          display: inline-block;
          background-color: #f5f6f8;
          margin: 0 6px;
          padding: 2px 12px;
          border-radius: 14px;
        }
      }
      .fwork-color-picked {
        width: 16px;
        height: 16px;
      }
    }

    .fwork-btn-content-resource {
      padding: 0;
      font-family: sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      height: 18px;
    }
    
  }

  .ant-drawer-body {
    padding: 0;
  }
}

.ant-drawer {
  margin-top: 56px;
}